
.planet_images {
    width: 150px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

table#planets {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
}

#planets th {
    background-color: #f2f2f2; 
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; 
}

#planets td {
    padding: 10px;
    text-align: center; 
    border: 1px solid #ddd; 
}

#planets tr:nth-child(even) {
    background-color: #f9f9f9;
}
