#fact_sheet_title {
    font-family: 'Times New Roman', Times, serif; 
    text-align: center; 
    margin-top: 20px; 
    font-size: 36px;
    font-color: white;
}
body {
    background-color: black; 
    color: white; 
}

#planets {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
    border: 5px solid red;
}

#planets th, #planets td {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border: 1px solid #ddd;
}

#planets tr:nth-child(even) {
    background-color: #333; 
}

.planet_images {
    width: 150px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

table#planets {
    width: 100%;
    border-collapse: collapse; 
    margin: 20px 0;
}


